@charset "UTF-8";
.menu {
	position: absolute;
	top: 0;
	left: 0;
	background: #3d444c;
	width: 2000px;
	height: 60px;
	margin-top: 0px;
	margin-left: 0px;
}

.menu a {
	text-decoration: none;
	color: #ccc;
	font-size: 24px;
	padding: 0 15px
}

.menu font {
	color: #ccc;
	font-size: 24px
}
.Main {
	background-color: rgb(208,223,239);
	background-size: contain|cover;
	height:auto;
	width:auto;
}

.Main .Biaoti .Input_Biaoti {
	display: block;
	width: 50%;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	padding: 0 16px;
	border: none;
	background-color: #efefef;
	color: #4f4f4f;
	font-family:黑体;
}
.Main .test-edit {
	margin-top: 24px;
}
.Main .Button input{
	background: #FC3;
	width: 100px;
	height: 36px;
	margin-top: 60px;
	margin-left: 100px;
	border-radius: 30px;
}